.contact-btn{
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    background-color: orange;
    border: none;
    font-weight: 500;
  
}
.contact-btn:hover{
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    background-color: orangered;
    border: none;

}
.contact-heading{
  
    font-weight: 600;
}
.contact-sub-heading{
    font-weight: 400;
    color: rgb(141, 141, 141);
    font-size: 14px;
}
.form-label{
    font-weight: 400;
    font-size: 14px;
    color: rgb(135, 135, 135);


}

.email-class::placeholder{
    color: rgb(135, 135, 135);
    font-size: 14px;
}


.form-control:focus{
    outline: none;
    box-shadow: none;
  
}


/* Change the color of the box shadow for Bootstrap input */
.form-control:focus,


.form-control:active {
   outline: auto;      
}

input{
    height: 50px;
   
}
.map{
    margin-top: 5em;
}

/* banner starts here  */
/* .banner-contact-image{
    width: 600px;
} */
.contact-banner-heading{
    margin-top: 1.1em;
    font-size: 70px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(48, 48, 48);
    
    
}

.contact-subheading{
    font-size: 18px;
    color: orange;
    margin-top: 20px;
}
.contact-para{
    font-size: 16px;
    margin-top: 20px;
    color: rgb(126, 126, 126);
}
/* .faq{
    font-weight: 500;
    font-size: 30px;
}

  .accordion-button:focus{
    outline: none ;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(161, 161, 161);

  }


  .accordion-button{
   outline: none;
   background-color: transparent;
   border-bottom: 2px solid rgb(161, 161, 161);
   
   
  }
  .accordion{
    background-color: transparent;
  }


  
  .accordion-button:not(.collapsed) 
    {
        background-color: transparent;
        color: black;
        font-weight: 500;
       color: orange;
       border-bottom: 2px solid rgb(161, 161, 161);
        



 
    } */